*.a
*.la
*.lo
*.log
*.o
*.stamp
*.swp
*.trs
*~
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
/libtool
/.config.args
/*.tar.xz
/autom4te.cache/
/aclocal.m4
/build-aux/
/m4/
/bus1ctl
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-*
/test-macro
/test-perf
/test-public
/test-shared
/install-tree
