*.a
*.la
*.lo
*.log
*.o
*.stamp
*.swp
*.trs
*~

.config.args
.deps/
.dirstamp
.libs/
/*.tar.xz
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
build-aux/
bus1ctl
config.h
config.h.in
config.log
config.status
configure
m4/
stamp-*
test-macro
test-perf
test-public
